<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
    <div class="main">

        <form method="get" class="form-default">
            <select name="currency" id="currency" class="form-control" placeholder="Name">
                <option th:each="currency:${currencies}"
                        th:text="${currency.name()}">None
                </option>
            </select>

            <label for="date" class="sr-only">Date</label>
            <input type="date" id="date" name="date" class="form-control" placeholder="Date"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit" value="Submit">Submit</button>
        </form>

        <p>

        <div th:if="${result != null}">
            Result conversion:
            <p th:text="${result}">empty</p>
        </div>
        </p>


        <table>
            <tr th:each="historyElement:${history}">
                <td th:text="${historyElement.getCreatedDate()}"/>
                <td th:text="${historyElement.getDate()}"/>
                <td th:text="${historyElement.getCurrency()}"/>
                <td th:text="${historyElement.getExchangeRate()}"/>
            </tr>
        </table>

    </div>
</div>


</body>
</html>