<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
    <div class="starter-template">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label>Username: </label>
                <input type="text" id="name" name="username"/>
            </div>
            <div class="form-group">
                <label>Password: </label>
                <input type="password" id="password" name="password"/>
            </div>
            <button id="submit" type="submit" class="btn btn-primary navbar-btn">Login</button>
        </form>
    </div>
</div>


</body>
</html>