<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
    <div class="starter-template">
        <h1>Spring MVC / Thymeleaf / Bootstrap</h1>

        <p class="lead" th:text="${greeting}">(greeting)</p>

        <p>The current time is <span th:text="${currentTime}">(time)</span></p>
    </div>
</div>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>

<form th:action="@{/register}" method="get">
    <div><input type="submit" value="Register"/></div>
</form>

<span sec:authentication="name">Bob</span>

</body>
</html>